*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lora', serif;
    background-color: #eae5e5;
    margin: 0;
}
header{
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    z-index: 0;
    height: 50px;
}
#header_stand {
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 30px;
    background: url(../img/main/header_back.jpg); 
    position: fixed;
    top: 0;
    z-index: 9999;
}

.header_stand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: 
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}


header h1 {
    margin-left: 20px;
    color: #ffffff;
}
header nav a.icon{
	display: none;
}
.links {
    padding-top: 10px;
}
nav a {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
}
nav a:hover {
    color: #72d0d4;
}
/*Вертикальное меню*/

#menuVertical{
    width: 230px;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 105px;
    transition: .3;
    background: #191b22;
}
#menuVertical ul{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
#menuVertical ul li{
    display: block;
    width: 175px;
    height: auto;
    position: relative;
}
#menuVertical ul li a{
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 210px;
    height: auto;
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color:#ffffff;
    line-height: 2em;
    padding: 10px 15px 10px 0px;
    background: #191b22;
    text-decoration: none;
    text-shadow: 2px 2px 3px #222;
    text-align: center;
}
#menuVertical ul li a img{
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    width: 50px;
    margin-left: -7px;
    margin-top: 5px;
    border-radius: 50%;
}
#menuVertical ul li a span {
    margin-left: 10px;
}

#menuVertical ul li:hover a{
    background: #191b22;
    color: #72d0d4;
}
#menuVertical ul li a img:hover{
    border: #72d0d4 2px solid;
}
.img_n {
    transition: .3s;
}

.img_n:hover{
    margin-left: 5px;
    transition: .3s;
}

/*Ландинг*/

.main_personality {
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    color: #4d4d4d;
}
.main_personality h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 500%;
    font-weight: 800;
}
.main_personality p{
    font-size: 130%;
    text-indent: 2em;
}

.main_tourism, .main_extrim, .main_kvn, .main_travel, .main_vnikni, .main_rock, .main_sport, .main_football, .main_web_dev{
    margin-top: 30px;
    margin-bottom: 30px;
}
.main_tourism h2, .main_extrim h2, .main_kvn h2, .main_travel h2, .main_vnikni h2, .main_rock h2, .main_sport h2, .main_football h2, .main_web_dev  h2 {
    text-align: center;
    font-size: 300%;
    font-weight: 500;
    margin-bottom: 30px;
    padding-top: 100px;
}


/*Слайдер*/
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
}
.slideshow-container img{
cursor: pointer;
border-radius: 15%;
padding-top: 20px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color:#091b22;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: #72d0d4;
}
.text{
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color:  #ffffff;
    font-weight: bold;
}

.mySlidestravel .text, .mySlidessport .text{
    color:  #000000;
}
.mySlidessport .text{
    color: #00ffff;
}
.dot, .dotextrim, .dotkvn, .dottravel, .dotvnikni, .dotrock, .dotsport, .dotfootball,  .dotweb_dev{
    cursor: pointer;
    height: 7%;
    width: 7%;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 15%;
    display: inline-block;
    transition: background-color 0.6s ease; 
}

.active, dot:hover{
    opacity: 0.5;
    border: #72d0d4 3px solid;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

/*Футер*/

footer {
    background-color: #e83556;
    margin-left: 230px;
}
.foot_cards{
 display: flex;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #ffffff;
}
.foot_card {
 display: flex;
 margin-left: 10px;
 flex-grow: 1;
}

.foot_card b {
font-size: 150%;
}

.card_left>img{
border-radius: 50%;
border: #000000 2px solid;
width: 50px;
background-color: #72d0d4;
}
.card_right{
 margin-left: 20px;
}
.card_right a{
 color: #ffffff;
}
.card_right img:hover {
 border: 3px #ffffff solid;
 border-radius: 50%;
}

@media all and (max-width: 1200px){
    header nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}
    @media all and (max-width: 1000px){
        header nav .links a {
            display: none;
        }
        header nav a.icon{
            display: block;
            float: right;
            color: #ffffff;
            font-size: 45px;
        }
        nav{
            width: 100%;
           }
        .links.responsive{
            display: flex;
            flex-direction: column;
            background: url(../img/main/header_back.jpg); 
            height: 140px;
            
        }
            .links.responsive a.icon{
                position: absolute;
                top: -40px;
                right: -200px;
            }
            .links.responsive a{
                float: none;
                display: block;
                text-align: left;
                margin-top: 10px;
            }
            
        header{
            padding-bottom: 40px;
        }
        #header_stand {
            height: 90px;
        }
         .header_stand.responsive{
            display: flex;
            flex-direction: column;
        }
        #menuVertical{
            width: 80px;
            transition: .3s;
            top: 135px;
        }
        #menuVertical ul li a{
            width: 57px;
            transition: .3s;
        }
        #menuVertical ul li{
            width: 57px;
        }
        #menuVertical ul li a img{
            justify-content: center;
        }
        span{
            display: none;
        }
        footer {
            margin-left: 80px;
        }

        .foot_cards{
            flex-direction: column;
        }
        .foot_card{
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }